body {
    text-align: center;    
}

h1, navbar, h2, h3 {
    font-family: 'Ranchers', cursive;    
}

p, h4, h5, h6, a {
    font-family: 'Raleway', sans-serif;
}

#characterBox {
    color: white;
}

#opponentSelectionBox {
    color: white;
}

.character-inner > span {
    display: block;
    width: 100%;
    line-height: 1.2em;
  }
  
.character {
position: relative;
}

.character-inner {
margin: 0 5px;
padding: 5px;
}

.character img {
display: block;
width: 75px;
height: 75px;
position: relative;
z-index: 1;
}